:root {
    --dark-frame:#3A3B35;
    --mid-frame:#A9AAA5;
    --light-frame:#C1C2BD;
    --dark-button:#474743;
    --blue-button:#6F8EBB;
    --green-button:#A1C5AC;
    --mid-button:#C3C4C9;
    --light-button:#DFDEE4;
    --dark-blue-text:#18436E;
    --light-blue-text:#97A7C1;
    --green-border:#7C9986;
    --green-screen:#66826B;
    --black-text:#2C242F;
    --white-text:#CECFCF;
    --green-text:#62AE91;
    --purple-text:#A37EAF;
}

body {
    background-color: var(--mid-frame);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Cinzel', serif;
}

button {
    background-color: var(--blue-button);
    color: var(--white-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.playground textarea {
    overflow-x: auto;
}

#options > label {
    color: black;
}

#options > input {
    margin-right: 20px;
}

[data-type=result] {
    background-color: var(--light-blue-text);
}

[data-type=result][data-result=success] {
    background-color: var(--green-text);
}

[data-type=result][data-result=failure] {
    background-color: var(--purple-text);
}

thead {
    text-align: left;
}

#testSummary {
    margin: 20px;
}

#testTable {
    margin: 20px;
}

#testSummary label {
    font-weight: 700;
}

#testSummary span.success {
    background-color: var(--green-text);
}

#testSummary span.failed {
    background-color: var(--purple-text);
}

#testSummary span.running {
    background-color: var(--light-blue-text);
}

[data-type=testCase].collapse textarea {
    display: None;
}

.playground > div {
    margin: 20px;
}

.playground > div > label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    background-color: var(--green-border)
}

h1 > a {
    text-decoration: none;
    color: var(--dark-blue-text);
}

/* Control */

#run {
    position: absolute;
    margin-left: 10px;
}

/* Status */

.status {
    height: 22px;
    width: 22px;
}

.status > circle {
    stroke: black;
    stroke-width: 1;
    r: 10;
    fill: gray;
    cx: 11;
    cy: 11;
}

.status > circle[data-status=running] {
    fill: limegreen;
}

.status > circle[data-status=suspended] {
    fill: var(--light-blue-text);
}

/* Table */

tbody {
    vertical-align: top;
}

td {
    padding-right: 15px;
}
