body {
    background-color: #FBFAF7;

    font-family: Segoe UI;
    font-weight: normal;
    font-size: 16px;
}

.playground > div {
    margin: 20px;
}

.playground > div > label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

#options > label {
    color: black;
}

#options > input {
    margin-right: 20px;
}

/* Control */

#run {
    position: absolute;
    margin-left: 10px;
}

/* Status */

.status {
    height: 22px;
    width: 22px;
}

.status > circle {
    stroke: black;
    stroke-width: 1;
    r: 10;
    fill: gray;
    cx: 11;
    cy: 11;
}

.status > circle[data-status=running] {
    fill: limegreen;
} 

/* Table */

thead {
    text-align: left;
}

tbody {
    vertical-align: top;
}

td {
    padding-right: 15px;
}