body {
    background-color: #FBFAF7;
}

.playground > div {
    margin: 20px;
}

.playground > div > label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}